body {
  background: center;
  background-image: url("./images/brainstasy.JPG");
  /* background-image: url("./images/logo_1.JPG"); */
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed, scroll;
  background-position: 50% 20%;
}
footer {
  margin: 0;
  padding: 0;
}
